<!--
  	Lambton College
		CSD 3103 - Full Stack JavaScript
		Term project
		Hugo Beltran Escarraga - C0845680
		Juan Luis Casanova Romero - C0851175
-->

<%- include('header') -%>

  <title>Test</title>
  </head>

  <body>

    <%- include('navbar') -%>

      <div class="container">
        <header class="col d-flex justify-content-center">
          <h1>Questions database</h1>
        </header>
        <main class="row justify-content-center pt-4 mb-2">
          <div class="accordion col col-md-8">
            <div class="accordion-item card mb-3" id="quiz">
              <div class="accordion-header card-header" id="accordion-heading">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                  data-bs-target="#accordion-rules" aria-expanded="true" aria-controls="accordion-rules">
                  Category: Rules
                </button>
              </div>

              <div id="accordion-rules" class="accordion-collapse collapse" aria-labelledby="accordion-heading">
                <div class="accordion-body">

                  <div class="card-body" id="rules-questions">
                    <ul class="list-group list-group-flush">
                      <!-- QUESTIONS RULES -->
                      <% for (const rule of rules) {%>
                        <li class="list-group-item">
                          <div class="answer-group d-flex pt-2 pb-2">
                            <div class="col-md-10 mb-2">
                              <p id="rules-<%= rule.number %>">
                                <%= rule.number %>. <%= rule.text %>
                              </p>
                            </div>
                            <div class="col-md-2 mb-2">
                              <input class="btn btn-primary btn-sm" type="submit" value="Edit/View" />
                            </div>
                          </div>
                        </li>
                        <%} %>

                    </ul>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="accordion col col-md-8">
            <div class="accordion-item card mb-3" id="quiz">
              <div class="accordion-header card-header" id="accordion-heading">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                  data-bs-target="#accordion-signs" aria-expanded="true" aria-controls="accordion-signs">
                  Category: Signs
                </button>
              </div>

              <div id="accordion-signs" class="accordion-collapse collapse" aria-labelledby="accordion-heading">
                <div class="accordion-body">

                  <div class="card-body" id="signs-questions">
                    <ul class="list-group list-group-flush">
                      <!-- QUESTIONS SIGNS -->
                      <% for (const sign of signs) {%>
                        <li class="list-group-item">
                          <div class="answer-group d-flex pt-2 pb-2">
                            <div class="col-md-5 mb-2">
                              <p id="signs-<%= sign.number %>">
                                <%= sign.number %>. <%= sign.text %>
                              </p>
                            </div>
                            <div class="col-md-5 mb-2">
                              <image style="width: 100px" src="<%= sign.reference %>"></image>
                            </div>
                            <div class="col-md-2 mb-2">
                              <input class="btn btn-primary btn-sm" type="submit" value="Edit/View" />
                            </div>
                          </div>
                        </li>
                        <%} %>

                    </ul>
                  </div>

                </div>
              </div>

            </div>
          </div>


        </main>
      </div>

      <%- include('footer') -%>